[submodule "hayeselnut2127.github.io"]
	path = hayeselnut2127.github.io
	url = https://github.com/hayeselnut2127/hayeselnut2127.github.io
[submodule "hayeselnut.github.io"]
	path = hayeselnut.github.io
	url = https://github.com/hayeselnut/hayeselnut.github.io
